.App {
  text-align: center;
  color: #3C3C3C;
}

.foodList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.formInput {
  border: solid 2px #363F6E;
  border-radius: 10px;
  padding: 10px;
  margin-right: 2%;
  font-size: 20px;
}

.formBtn {
  background: #363F6E;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  box-shadow: 1px 1px 10px 0 #000000;
  text-shadow: 1px 1px 10px #000000;
  border: solid #363F6E 1px;
  text-align: center;
}

.formBtn:hover {
  background: #576194;
  border: solid #576194 1px;
}

.card {
  border: solid 1px 979797;
  width: 27%;
  padding-bottom: 1%;
  margin-bottom: 3%;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 0 #979797;
  color: #4C4E4C;
}

.nutritionBtn {
  background: #4BAB48;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  box-shadow: 1px 1px 10px 0 #000000;
  text-shadow: 1px 1px 10px #000000;
  border: solid #4BAB48 1px;
  text-align: center;
}

.nutritionBtn:hover {
  border: solid #023C05 1px;
  background: #023C05;
}